.resources-section1 {
  font-family: "Noto Serif", serif;
  font-size: 18x;
  margin: 3rem;
  border-image: linear-gradient(40deg, #f6b73c, #4d9f0c) 30;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.resources-section2 {
  font-family: "Noto Serif", serif;
  font-size: 18x;
  margin-left: 3rem;
  margin-top: 3rem;
}

.skillSet {
  font-style: italic;
}
