.home-main {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}
.home-intro {
  width: 40vw;
  border: 2px solid blue;
  text-align: center;
}
