.home-main {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}
.home-intro {
  width: 40vw;
  text-align: center;
  border: 2px solid black;
}
.home-search {
  width: 30vw;
  display: inline-block;
  text-align: left;
  margin-left: 3rem;
  border: 2px solid yellow;
}
.searchText {
  border: 2px solid blue;
}
