.home-main {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-intro {
  width: 40vw;
  text-align: center;
}
.home-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchText {
  width: 30rem;
  height: 2rem;
  padding: 2px;
  margin-top: 2em;
  font-size: 18px;
}
