.top {
  box-sizing: border-box;
  width: 98vw;
  height: 10vw;
  display: flex;
  justify-content: space-evenly;
  background-color: #c8e4df;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;

  a {
    font-size: 16px;
    color: #646cff;
    text-decoration: inherit;
  }

  .navbarmenu {
    box-sizing: border-box;
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;
  }
  .navbarmenu li {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
